<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/bootstrap.css">
    {{!-- <link rel="stylesheet" href="/image"> --}}
  <link rel="stylesheet" href="/js">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.4/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
    
</head>

<body>
    <div class="container">
     <h4><a href="/avo/add">Add new shop</a></h4>
    <div class="resta"  >
    <img class="img-thumbnail" src="/image/avo.jpg">
    </div>
    {{!-- <a href="/avo/deals">Top 5 deals</a> --}}
 {{!-- <h2>Best deals</h2> --}}
</div>
 <h4><a href="/avo/deals">Click to add a new deal</a></h4>

 <h4><a href="/avo/allshop">View all shops</a></h4>

</body>

</html>




